
    .calculator {
        display: flex;
        flex-direction: column;
        border: 5px inset black;
        background-color: white;
        height: 550px;
        width: 400px;
    }

    .screen {
        display: flex;
        justify-content: right;
        align-items:flex-end;
        font-size:50px;
        font-family: monospace;
        background-color: white;
        height: 95px;
        width: 400px;
        font-family: 'Orbitron', sans-serif;
    }

    @keyframes flash {
        0% {
            opacity: 1;
        }
        25% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
    }

    .screen {
        animation: flash 1.25s infinite;
    }

    .math {
        display: grid;
        background-color: rgb(111, 202, 202);
        place-items: center;
        font-size:xx-large;
        }

        .math:hover {
            background-color: paleturquoise
        }

        .number {
            display: grid;
            place-items: center;
            background-color:pink;
            font-size:xx-large;
            }

            .number:hover {
                background-color: rgb(248, 214, 219)
            }

        .number, .math {
            font-family: 'Orbitron', sans-serif;
        }

    .row-1 {
        display: grid;
        grid-template-columns: 50% 25% 25%;
        height: 95px;
        width: 400px;
        border-top: 3px inset black;
    }

    .row-2 {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        height: 95px;
        width: 400px;
    }

    .row-3 {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        height: 95px;
        width: 400px;
    }

    .row-4 {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        height: 95px;
        width: 400px;
    }

    .row-5 {
        display: grid;
        height: 95px;
        width: 400px;
    }

    .row-5 {
        display: grid;
        grid-template-columns: 75% 25%;
        height: 95px;
        width: 400px;
    }
